In [208]:
#import the basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [209]:
import warnings
warnings.filterwarnings('ignore')

In [210]:
#import dataset
ds_train=pd.read_excel('Data_Train.xlsx')
ds_test = pd.read_excel('Data_Test.xlsx')

In [211]:
ds_train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [212]:
ds_test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [213]:
print(ds_train.isnull().sum())

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [214]:
print(ds_test.isnull().sum())

TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [215]:
ds_train.dtypes

TITLE            object
RESTAURANT_ID     int64
CUISINES         object
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES            object
COST              int64
dtype: object

In [216]:
ds_train['VOTES']=ds_train['VOTES'].str.slice(stop=-6)
ds_test['VOTES']=ds_test['VOTES'].str.slice(stop=-6)

In [217]:
ds_test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23

In [218]:
ds_train.shape

(12690, 9)

In [219]:
ds_train.dropna(inplace=True)

In [220]:
ds_test.dropna(inplace=True)

In [221]:
ds_train.shape

(11393, 9)

In [222]:
ds_test.shape

(3797, 8)

In [223]:
print(ds_train.isnull().sum())
print(ds_test.isnull().sum())

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
COST             0
dtype: int64
TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
dtype: int64

In [224]:
ds_train['VOTES']=ds_train['VOTES'].astype(int)

In [225]:
ds_test['VOTES']=ds_test['VOTES'].astype(int)

In [226]:
dat_train = ds_train.CUISINES.apply(lambda x: len(x.split(',')))
dat_test = ds_test.CUISINES.apply(lambda x: len(x.split(',')))

In [227]:
print('max number of CUISINES hold by restaurant in train is ',max(dat_train))
print(ds_train.CUISINES[dat_train.idxmax()])
print('minimum number of CUISINES hold by restaurant in train is ',min(dat_train))
print(ds_train.CUISINES[dat_train.idxmin()])

max number of CUISINES hold by restaurant in train is  8
Continental, American, Asian, North Indian, Chinese, Pizza, Biryani,
minimum number of CUISINES hold by restaurant in train is  1
Desserts

In [228]:
print('max number of CUISINES hold by restaurant in test is',max(dat_test))
print(ds_test.CUISINES[dat_test.idxmax()])
print('min number of CUISINES hold by restaurant in test is',min(dat_test))
print(ds_test.CUISINES[dat_test.idxmin()])

max number of CUISINES hold by restaurant in test is 8
Arabian, Biryani, Fast Food, Lucknowi, North Indian, Kebab, Mughlai,
min number of CUISINES hold by restaurant in test is 1
Biryani

we can make the number of cusisines as a way to deal with the cusines column

In [229]:
ds_train.CUISINES=dat_train
ds_test.CUISINES=dat_test

In [230]:
ds_train.dtypes

TITLE            object
RESTAURANT_ID     int64
CUISINES          int64
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES             int32
COST              int64
dtype: object

In [231]:
for i in ds_train.columns:
    print("\033[1m"+i+"\033[0m",ds_train[i].unique())
    print('----------')

TITLE ['CASUAL DINING' 'CASUAL DINING,BAR' 'QUICK BITES' 'DESSERT PARLOR' 'CAFÉ'
 'MICROBREWERY' 'QUICK BITES,BEVERAGE SHOP' 'CASUAL DINING,IRANI CAFE'
 'BAKERY,QUICK BITES' 'None' 'BAR,CASUAL DINING' 'BAR' 'PUB'
 'BEVERAGE SHOP' 'FINE DINING' 'CAFÉ,QUICK BITES'
 'BEVERAGE SHOP,DESSERT PARLOR' 'SWEET SHOP,QUICK BITES'
 'DESSERT PARLOR,SWEET SHOP' 'BAKERY' 'BAKERY,DESSERT PARLOR' 'BAR,LOUNGE'
 'FOOD COURT' 'LOUNGE' 'DESSERT PARLOR,BEVERAGE SHOP'
 'LOUNGE,CASUAL DINING' 'QUICK BITES,FOOD COURT' 'SWEET SHOP'
 'PUB,CASUAL DINING' 'MESS' 'MICROBREWERY,CASUAL DINING'
 'CASUAL DINING,SWEET SHOP' 'KIOSK' 'QUICK BITES,KIOSK' 'CLUB'
 'FINE DINING,BAR' 'DESSERT PARLOR,QUICK BITES' 'FOOD COURT,QUICK BITES'
 'LOUNGE,CAFÉ' 'BAKERY,CONFECTIONERY' 'DHABA' 'CAFÉ,DESSERT PARLOR'
 'CASUAL DINING,CAFÉ' 'QUICK BITES,DESSERT PARLOR' 'PUB,MICROBREWERY'
 'LOUNGE,BAR' 'DESSERT PARLOR,CAFÉ' 'CAFÉ,BAR' 'SWEET SHOP,CONFECTIONERY'
 'CASUAL DINING,PUB' 'MICROBREWERY,BAR' 'QUICK BITES,SWEET SHOP'
 'BEVERAGE SHOP,QUICK BITES' 'CASUAL DINING,LOUNGE' 'QUICK BITES,CAFÉ'
 'BAR,CAFÉ' 'CAFÉ,CASUAL DINING' 'QUICK BITES,CASUAL DINING'
 'CASUAL DINING,MICROBREWERY' 'CASUAL DINING,BAKERY' 'CAFÉ,BAKERY'
 'MEAT SHOP' 'QUICK BITES,BAKERY' 'DESSERT PARLOR,BAKERY'
 'BAR,FINE DINING' 'SWEET SHOP,CASUAL DINING' 'MEAT SHOP,QUICK BITES'
 'FOOD TRUCK' 'PUB,LOUNGE' 'COCKTAIL BAR' 'FINE DINING,LOUNGE'
 'CONFECTIONERY' 'QUICK BITES,BAR' 'BAKERY,FOOD COURT' 'BAKERY,CAFÉ'
 'PUB,BAR' 'DESSERT PARLOR,FOOD COURT' 'QUICK BITES,FOOD TRUCK'
 'BAKERY,BEVERAGE SHOP' 'CLUB,BAR' 'BAKERY,SWEET SHOP'
 'CASUAL DINING,FOOD COURT' 'PAAN SHOP' 'BEVERAGE SHOP,CAFÉ'
 'FOOD COURT,DESSERT PARLOR' 'CLUB,MICROBREWERY' 'CAFÉ,BEVERAGE SHOP'
 'SWEET SHOP,BAKERY' 'DESSERT PARLOR,PAAN SHOP' 'MICROBREWERY,LOUNGE'
 'LOUNGE,CLUB' 'SWEET SHOP,DESSERT PARLOR' 'BAR,PUB'
 'CONFECTIONERY,QUICK BITES' 'DESSERT PARLOR,KIOSK' 'LOUNGE,PUB'
 'SWEET SHOP,BEVERAGE SHOP' 'FINE DINING,CAFÉ'
 'BEVERAGE SHOP,CASUAL DINING' 'KIOSK,QUICK BITES'
 'CASUAL DINING,DESSERT PARLOR' 'LOUNGE,FINE DINING' 'PUB,CAFÉ'
 'CAFÉ,LOUNGE' 'BAR,CLUB' 'COCKTAIL BAR,CASUAL DINING' 'MICROBREWERY,PUB'
 'CASUAL DINING,CLUB' 'KIOSK,FOOD COURT' 'LOUNGE,MICROBREWERY'
 'BAR,MICROBREWERY']
----------
RESTAURANT_ID [ 9438 13198 10915 ... 13228  9686  6134]
----------
CUISINES [3 4 2 1 5 6 8 7]
----------
TIME ['11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)' '6pm – 11pm (Mon-Sun)'
 '11am – 3:30pm, 7pm – 11pm (Mon-Sun)' ... '12:1pm – 4am (Mon-Sun)'
 '12:30pm – 9:45pm (Mon-Sun)'
 '12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...']
----------
CITY ['Thane' 'Chennai' 'Mumbai' 'Bangalore' 'Gurgaon' 'Hyderabad' 'Kochi'
 'Thane West' 'Andheri Lokhandwala' 'New Delhi' 'Andheri West'
 'Malad East' '682036' 'Bangalor' 'Navi Mumbai' 'Bandra West' 'Delhi'
 'Noida' 'Secunderabad' 'India' 'Madhuranagar' 'Chennai Teynampet'
 'Faridabad' 'Chembur.' 'Maharashtra' 'opp gurudwara Shakurpur'
 'Telagana Land Line:040-48507016' 'Ghaziabad' 'Karnataka' 'Kerala'
 'Bengalore' 'Near Reliance Fresh' 'Kilpauk' 'Bengaluru' 'Kothaguda'
 'Goregaon West' 'Banglore' 'Tamil Nadu' 'Kakkanad' 'Outer Ring Road'
 'Mulund East' 'Secunderabad main road near signal NMREC COLLEGE'
 'Telangana' 'Ponnuruni Kochi' 'Gachibowli' 'Semmancheri'
 '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034'
 'Mumbai Mahim' 'Powai (Next to Powai Plaza)' 'Dombivali East' 'Kandivali'
 'Dewan Rama Road' 'Gurugram' 'Sector 51 Noida' 'Besant Nagar'
 'Arumbakkam chennai-600106.' 'Adjacent To Commercial Street' 'Delhi NCR'
 'Dwarka' 'Kalyan West' 'Avadi' 'Kondapur' 'Mehdipatnam' 'Gandipet'
 'Velachery' 'Pallavaram' 'Vijaya Nagar' 'BTM Layout' 'Chennai 600034.'
 'Metro Pillar No 21. Mettuguda main road near railway degree college.'
 'Chennai - 600040' 'JP Nagar Bangalore' 'Madhapur' 'Sarjapur'
 'Whitefield Bangalore' 'Kochi Chullickal' 'Kochi-683101'
 'Bangalore - 560076' 'Rohini' 'Hyderabad Behind Vacs Pastries'
 'Hyderabad neerus emporium.' 'Navi Mumbai.' 'Karol Bagh' 'Perungudi'
 'Thykoodam' 'Greater Noida' 'Bangalore.' 'Khairatabad' 'chullickal'
 'Grant Road West' 'Hitech City' 'West Maredpally' 'Mumbai - 400007'
 'Chennai Padur' 'Chander Nagar New Delhi' 'Nedumbassery' 'MG Road'
 'Naya Nagar Mira Road' 'Pitampura' 'Lower Parel' 'HBR Layout'
 'Telangana 500003' 'Rajiv gandhi Nagar' 'New Delhi.' 'Medavakkam'
 'Sathya Nagar' 'p.o Kochi' 'Behind Ramalayam Temple' 'Palarivattom'
 'Brigade Road' 'Mumbai.' 'Mumbai Andheri East' 'Virar West' 'B-1 Stage'
 'Chennai Kovalam' 'Hyderabad.' 'Aluva' 'Telangana 500034'
 'IOB Bank Kamala Nagar' 'HSR Layout' 'DLF Galleria'
 'Nallathambi Main Road' 'Chennai opp: Vasanth & co' 'Citypark'
 'Karnataka 560103' 'Bhayandar' 'Thammenahalli Village' 'SG Palya'
 'Attapur.' 'Near Shangrilla Bus Stop' 'Khar (west)' 'Road 3' 'Kukatpally'
 'Telangana 500032' 'Dilsukhnagar' 'Mogappair. Chennai' 'Kaloor'
 'Near Munrshwara Temple' 'Off Brigade Road' 'khar west' 'Potheri'
 'Chennai Perungudi' 'Chennai Thuraipakkam' 'OMR Karapakkam'
 'Hyderabad-500032' 'Ernakulam' 'Mumbai Dombivali East'
 'Chennai Thousand Lights' 'Mahim' 'Lingampally' 'Powai'
 'New Delhi-110024' 'Chennai- 600107' 'Vasai West.' 'Thane (W)'
 'Near Santosh Banjara Hyderabad'
 'Banaswadi (Next to Indian Bank) Bangalore' 'BTM Bangalore'
 'Greater Kailash 2 New Delhi' 'Secunderabad ECIL'
 'Bangalore Koramangala 7th Block' 'bangalore : 560085' 'navi mumbai'
 'Gachibowli Hyderabad'
 'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -'
 'ECR NEELANKARAI Chennai 600115' 'ward X11' 'kochi' 'Mira raod east'
 'Chennai.' 'Pokhran Road 2' 'Uttar Pradesh' 'Karnataka 560102'
 'Mumbai - 400013' 'Naharpar' 'Hosur Road' 'Near Bharat Petroleum.'
 'Chennai (Bang Opposite Indian Bank)' 'Sriram nagar' 'Vyttila'
 'Banjara Hills' 'MALAPALLIPURAM P .O THRISSUR' 'Andheri west Mumbai'
 'Karnataka 560043' 'Panampilly Nagar' 'hyderabad' 'Borivali East.' 'ECIL'
 'Jubilee Hills'
 'Amrit kaur market opposite new delhi railway station paharganj'
 'Chennai Opposite 5C Bus stand' 'Telengana' 'Kochi Ravipuram' 'Rajanpada'
 'Mahabalipuram' 'Secunderabad. WE HAVE NO BRANCHES.' 'Telangana 500081'
 'Gurgoan' 'Elamakkara' 'Sector 1' 'Bandra W' 'Kolathur'
 'Chennai Mahabalipuram' '3rd Street' 'Mumbai Chakala' 'Borivali West'
 'Rodeo Drive Sector 49' 'Delhi 110085' 'Sector 51' 'Champapet'
 'Andavar Nagar' 'Bangalore - 560103' 'Edappally'
 'opp mukteshwar ashram powai' 'Nungambakkam' 'BK Guda'
 'Jogeshwari (w) Mumbai' 'Kukatapally' 'Near Sector 110 Noida' 'Navallur'
 'Beside Excellency Gardens' 'Mumbai - 80' 'Begumpet'
 'Maharaja Hotel Beside Gardania Bar' 'Ashok Vihar Phase 1' 'Kochi-18'
 'Narayanguda' 'Thevera' 'Chennai-40' 'Palm Beach Road'
 'East Coast Road (ECR)' 'Ramapuram' 'Chennai Chrompet' 'Nandanam' 'Saket'
 'MG Road Ernakulam' 'Andheri Lokhandwala.' 'Indiranagar' 'Thiruvanmiyur'
 'Ambattur' 'Banglaore' 'Chennai - 34 Landmark - Near Loyola College'
 'Anna Nagar West' 'Old Railway Road' 'East Mumbai'
 'Kanakapura Road Banglore' 'Kochi Kakkanad' 'Kalyan'
 'Near Ramlila Ground' 'Serilingampally' 'Himayath Nagar' 'Nallala Street'
 'Anna Salai' 'Old Delhi' 'Wagle Estate' '1st Stage' 'Kochi-16'
 'First Street' 'Chenn ai' '6 & 7 - 4/64 Subhash Nagar' '1st Tavarekere'
 'Perambur' 'Block F' 'Sector 7 Dwarka' 'Opposite Barathi Gas Company'
 'Vadapalani' 'Kondapur.' 'Badlapur West.' 'Kalamassery' 'Palavakkam'
 'TCS Synergy park' 'Kochi Palarivattom' 'NEW BEL ROAD 560054'
 'Veliaveetil house Vivekananda Nagar Elamakkara' 'Sholinganallur'
 'Maharashtra 400102' 'Lower Parel West' 'Tripunithura' 'Mogappair'
 'Telangana 500070' 'JP Nagar' 'Navi-Mumbai' 'Ashok Nagar' 'Marathahalli'
 'Haridwar Apartments' 'Kerala 682001 India' 'Karnataka 560037'
 'Kerala 683585' 'Chennai. (Near Hotel Matshya)' 'Indirapuram'
 'West Mumbai' 'Begumpet Hyderabad' 'Manikonda'
 'Bangalore land mark above mahaveer hard ware' 'Kerala 682304' 'GST Road'
 'Fort Kochi' 'Lahari Apartments' 'Ramanthapur' 'Mulund west'
 'Gurgaon Haryana India' 'New Delhi..Near by SBI bank' 'Kochi Aluva 102'
 'Hyderabad Manikonda'
 'Mumbai This is a Delivery & Take-away Restaurant only.' '10th avenue'
 'Uppal' 'New Delhi 110075' 'Nizampet' 'Ulsoo' 'Bangalore 560076'
 'PVR plaza cinema building Connaught Place' 'Gurgaon Haryana' 'Chromepet'
 'Kerala 682024' 'Janakpuri' 'Secunderabad.' 'chennai'
 'B.B.M.P East (Karnataka) - 560049' 'Tambaram' 'Malleshwaram Bangalore'
 'Vadapalani.' 'Dist. Center New Delhi' 'Bangalore Road' 'aluva circle'
 'Kochi.' 'Thane Mumbai' 'Vasai west' 'Mig Housing Society' 'Haryana'
 'Borivali West.' 'Golf Course Road' 'Khar Mumbai'
 'Near Jyothinivas College' 'Anna Nagar East' 'Masab Tank']
----------
LOCALITY ['Dombivali East' 'Ramapuram' 'Saligramam' ... 'OMR Padur' 'Near Perambur'
 'Near Malviya Nagar']
----------
RATING ['3.6' '4.2' '3.8' '4.1' '4.0' '4.3' '3.9' '3.3' '3.4' '4.5' '3.5' '4.4'
 '2.7' '3.7' '4.7' '3.1' '2.5' '4.6' '2.8' '3.0' '3.2' '2.6' '2.9' '4.9'
 '4.8' '2.4' '2.3' '2.0' '2.1' '2.2']
----------
VOTES [  49   30  221 ... 2723 1426 1214]
----------
COST [ 1200  1500   800   300   600  1600   200   900  1400   350   500   450
   700   400  1000   250  2000  1100   100   850  2500  1800   150   650
  3500   750   950  1300   180  2100   550  1900  1750  1350    60  2200
  5000    80  3300  3800  1450  4000  2800   120  4500  2400  1700  3000
    50  2600  5200 14000  1550  4200  3700  1150  2700   130  8000  3200
  5500  6500  1050 10000  3600   313  3400  2300  3100  1650  1850  6000
   140  4100  4050  2900   599  1250  7000   299   370  1950   320  1260]
----------

In [232]:
for i in ds_test.columns:
    print("\033[1m"+i+"\033[0m",ds_test[i].unique())
    print('----------')

TITLE ['CASUAL DINING' 'QUICK BITES' 'None' 'FOOD TRUCK,DESSERT PARLOR'
 'DESSERT PARLOR,QUICK BITES' 'CASUAL DINING,BAR' 'LOUNGE' 'BEVERAGE SHOP'
 'CASUAL DINING,PUB' 'DESSERT PARLOR' 'PUB' 'CAFÉ' 'BAKERY' 'LOUNGE,BAR'
 'BAKERY,QUICK BITES' 'SWEET SHOP' 'SWEET SHOP,QUICK BITES'
 'BEVERAGE SHOP,QUICK BITES' 'CAFÉ,QUICK BITES' 'DHABA'
 'QUICK BITES,DESSERT PARLOR' 'FINE DINING' 'IRANI CAFE,BAKERY'
 'PUB,CASUAL DINING' 'BAR' 'FOOD COURT' 'QUICK BITES,SWEET SHOP'
 'CAFÉ,BAR' 'BAR,PUB' 'BAKERY,DESSERT PARLOR' 'KIOSK' 'CAFÉ,BAKERY'
 'CASUAL DINING,BAKERY' 'BAKERY,CAFÉ' 'CASUAL DINING,CAFÉ' 'MESS'
 'BAR,CASUAL DINING' 'BEVERAGE SHOP,CAFÉ' 'BEVERAGE SHOP,DESSERT PARLOR'
 'PUB,FINE DINING' 'CASUAL DINING,FOOD COURT' 'CAFÉ,CASUAL DINING'
 'LOUNGE,CASUAL DINING' 'DESSERT PARLOR,CAFÉ' 'FINE DINING,BAR'
 'CASUAL DINING,SWEET SHOP' 'LOUNGE,FINE DINING' 'MICROBREWERY,PUB'
 'FOOD TRUCK' 'CASUAL DINING,MICROBREWERY' 'CLUB' 'CAFÉ,FOOD COURT'
 'CAFÉ,DESSERT PARLOR' 'MICROBREWERY,CASUAL DINING'
 'DESSERT PARLOR,BAKERY' 'QUICK BITES,BAKERY' 'FINE DINING,MICROBREWERY'
 'CASUAL DINING,LOUNGE' 'CLUB,FINE DINING' 'PUB,MICROBREWERY'
 'SWEET SHOP,DESSERT PARLOR' 'COCKTAIL BAR,CASUAL DINING'
 'DESSERT PARLOR,BEVERAGE SHOP' 'FOOD COURT,QUICK BITES' 'LOUNGE,CLUB'
 'MICROBREWERY' 'DESSERT PARLOR,FOOD COURT' 'PUB,BAR'
 'BAKERY,BEVERAGE SHOP' 'QUICK BITES,MEAT SHOP' 'CAFÉ,LOUNGE'
 'FINE DINING,LOUNGE' 'PAAN SHOP' 'CLUB,CASUAL DINING' 'FINE DINING,CAFÉ'
 'PUB,LOUNGE' 'PUB,CAFÉ' 'BAR,LOUNGE' 'QUICK BITES,BEVERAGE SHOP'
 'QUICK BITES,CASUAL DINING' 'CASUAL DINING,IRANI CAFE' 'CLUB,BAR'
 'BHOJANALYA']
----------
RESTAURANT_ID [ 4085 12680  1411 ...  9057  8617  2421]
----------
CUISINES [4 1 2 3 6 5 8 7]
----------
TIME ['12noon – 12midnight (Mon-Sun)' '7am – 12:30AM (Mon-Sun)'
 '11am – 11:30pm (Mon-Sun)' ...
 '7pm – 1:30am (Mon-Tue),12noon – 1:30am (Wed-Sun)'
 '12noon – 4pm, 7pm – 10:30pm (Mon-Sat),12noon –...'
 '6am – 12:30AM (Mon, Tue, Wed, Thu, Sat, Sun), 6am...']
----------
CITY ['Noida' 'Mumbai' 'Faridabad' 'Kochi' 'Hyderabad' 'Chennai' 'New Delhi'
 'Bangalore' 'Vasai Mumbai' 'Gurgaon' 'Navi Mumbai' 'Palarivattom'
 'Ernakulam' 'Thane West' 'Ghaziabad' 'Chennai.' 'Thane' 'Telangana'
 'Bandra West' 'Potheri' 'Panathur Main Road' 'Secunderabad' 'JP Nagar'
 'Near Andheri West Station'
 'opposite to western side of ITPL Service gate' 'Kalkaji' 'Bengaluru'
 'APR Chambers' 'Tamil Nadu 600102' 'Andheri West' 'India'
 'Serilingampally' 'Maharashtra.' 'Gandhinagar Rd'
 'Near Andheri East Station' 'HSR Layout' 'Greater Noida' 'Dwarka'
 'Velachery' 'Anna Nagar West' 'Indiranagar' 'Whitefield' 'Kerala 682036'
 'Madhapur' 'Hyderabad.' 'India Gate New Delhi' 'Bangalore - 560095'
 '1st Stage' 'Sholinganallur. Chennai' 'Chennai (Above Bombay Brasserie)'
 'Powai' 'Marathahalli' 'Chennai 37' 'kochi' '682024' 'Tripunithura'
 'Girgaum' 'Greater Kailash 1 (GK 1) New Delhi' 'Kurla (W)'
 'Secunderabad.' 'Thane West Thane West' 'Banjara Hills'
 'Kochi Panampilly Nagar' 'Maharashtra 400092' 'Near Sector 34'
 'Bengalore' 'Mehdipatnam Hyderabad' 'Gurugram' 'Nallagandla' 'Vandalur'
 'Mulund West' 'Chennai 40' 'Delhi' 'Maharashtra' 'Banglore' 'Secunderbad'
 'MM Nagar' 'Mumbai 400070' 'Dilsukhnagar' 'Chittethukkara' 'BTM'
 'Dombivli' 'Sahakara Nagar' 'Mohammad Ali Road Mumbai' 'Chennai 600040'
 'Tavarekere Main Road' 'Community Centre' 'Kakkanad' 'Kerala 682022'
 'Delh.' 'Sector-6 Noida 201301' 'Kaaraikudi Complex'
 'Thiruvanmiyur (Opp Eurokids LB Road)' 'Virar Mumbai' 'Bangalore.'
 'Tolichowki' 'Kochi International Airport VIP Road' 'Hyderaba'
 'Navi Mumbai.' 'Alwarpet' 'Nungambakkam' 'Gachibowli'
 'Mumbai Veera Desai Area' 'Kerala 682028' 'Suraram' 'Chennai Velachery'
 'Forum Sujana Mall Opposite to Malaysian township' 'Old Hafeezpet'
 'Yousufguda' 'Chennai-600008' 'Mumbai Ulhasnagar'
 'Jogeshwari West Mumbai' 'Chepauk' 'Chowpatty' 'Delhi NCR'
 'Church Street' 'Balavinayagar Nagar Chennai' 'RA Puram'
 'Hyderabad.Star hypermarket opposite side Service road'
 'Chennai Injambakkam' 'Mumbai Mumbra' 'Chennai Teynampet' 'Habsiguda'
 'Kurla Mumbai' 'Telangana 500027' 'Kaloor' 'Chenna' 'Kerala 682021'
 'Kochi Ravipuram' 'Kandivali West' 'chennai-119' 'Kerala'
 'Noida Extention' 'Shihab Thangal Road' 'GST Road' 'New Delhi 110011'
 'Miumbai' 'Borivali (W) Mumbai: 400 092.' 'Vanasthalipuram'
 'Chennai - 600018' 'Karnataka' 'Opposite Ellora Building']
----------
LOCALITY ['Sector 18' 'Grant Road' 'Marine Lines' 'NIT' 'Kaloor' 'Banjara Hills'
 'Navalur' 'IP Extension' 'Palarivattom' 'Electronic City' 'West Mambalam'
 'Worli' 'Ulsoor' 'Abids' 'MG Road' 'Dahisar West' 'Vijay Nagar' 'Fort'
 'East' 'DLF Phase 4' 'Jubilee Hills' 'Sector 15' 'Elamkulam' 'Aluva'
 'Indiranagar' 'Marol' 'Whitefield' 'Fort Kochi' 'Film Nagar' 'Kharghar'
 'Bandra Kurla Complex' 'Marathahalli' 'Dombivali East'
 'N.W.A Punjabi Bagh' 'Kodambakkam' 'Anna Nagar West' 'Sarjapur Road'
 'Tripunithura' 'Matunga East' 'Kathrikadavu' 'Mylapore' 'Kakkanad'
 'Malakpet' 'Kandivali West' 'Sector 31' 'Kalyan East' 'Necklace Road'
 'Sector 49' 'Miyapur' 'Ashok Nagar' 'BTM' 'Aerocity' 'Purasavakkam'
 'Srinagar Colony' 'Madhapur' 'Kalyan' 'Subhash Nagar'
 '35/581&582 Janatha Junction' 'Krishna Nagar' 'Chanakyapuri'
 'Vasant Vihar' 'Indirapuram' 'Ghatkopar East' 'Anna nagar'
 'Bannerghatta Road' 'Parel' 'Colaba'
 'Opposite New Panjabi Hotel Old Airport Road' 'Jama Masjid' 'Egmore'
 'Old Railway Road' 'Kurla' 'Andheri West' 'Thane West' 'Secunderabad'
 'Gachibowli' 'Kilpauk' 'Kolathur' 'Koramangala 5th Block' 'Washermenpet'
 'Maduravoyal' 'Thousand Lights' 'Ambattur' 'Guduvancherry' 'Azad Nagar'
 'Thiruvanmiyur' 'Palam Vihar' 'Shalimar Bagh' 'Chandrayanagutta'
 'Chembur' 'Vasant Kunj' 'Velachery' 'Marine Drive' 'Breach Candy'
 'Sector 22' 'Kalamassery' 'Linking Road' 'Koramangala 4th Block'
 'Kandivali East' 'Mulund West' 'Rajouri Garden' 'Suraram' 'Chengalpattu'
 'Goregaon East' 'Anna Nagar East' 'Pitampura' 'Anna Nagar' 'Porur'
 'Mehdipatnam' 'Ernakulam' 'Basavanagudi' 'Koramangala 7th Block' 'Powai'
 'Mohammad Ali Road' 'Vile Parle East' 'Jeevan Bhima Nagar' 'Anna Street'
 'kadubeesanahalli' 'Elphinstone' 'Attapur' 'Karkhana' 'Injambakkam'
 'Telangana S R Nagar' 'New Perungalathur' 'Nungambakkam' 'RA Puram'
 'Bhayandar' 'Lodhi Colony' 'Old Airport Road' 'Royapettah' 'Kirti Nagar'
 'Vashi' 'K.K. Nagar' 'Dadar East' 'Kompally' 'Phase 5' 'Vasai' 'Akkarai'
 'Race Course Road' 'Opposite National Shopping Centre' 'Vyttila'
 'Residency Road' 'Hyderabad' 'Munirka' 'Mayur Vihar Phase 2'
 'Mayur Vihar Phase 1' 'Ghansoli' 'Kukatpally' 'Uttam Nagar' 'Sector 55'
 'Tolichowki' 'Alwarpet' 'Kelambakkam' 'Mira Road' 'Karkardooma'
 'Malleshwaram' 'Near Sector 110' 'Malad West' 'Chandivali' 'Padur'
 'Kothaguda' 'Greater Kailash 1 (GK1)' 'Karapakkam' 'Kalyan Nagar' 'Mahim'
 'Near Deshbandhu College' 'Telangana 500001' 'Jayanagar'
 'Greater Kailash (GK) 1' 'Near Sohna Road' 'Hitech City' 'Trimulgherry'
 'Bommanahalli' 'Guindy' 'Edappally' 'Surya Nagar' 'Vanasthalipuram'
 'Kondapur' 'Koramangala' 'Plot 22 Sector 135' 'Pallimukku' 'Chanda Nagar'
 'Ghatkopar West' 'Saidapet' 'T. Nagar' 'Indira Nagar' 'Triplicane'
 'Satyaniketan' 'Greater Noida' 'Brookefield' 'House 3-5-909/B/1'
 'Chennai' 'Parrys' 'Chowpatty' 'West Mogappair' 'Shamirpet' 'Sainikpuri'
 'Vadapalani' 'Delhi University-GTB Nagar' 'Jeedimetla' 'Medavakkam'
 'Malviya Nagar' 'Golf Course Road' 'Banaswadi' 'Navallur' 'Daryaganj'
 'L B Nagar' 'Hennur' 'DLF Cyber City' 'Moti Nagar' 'Angamali'
 '7 Bungalows' 'Sadashiv Nagar' 'Vypin' 'Bellandur' 'Lower Parel'
 'Willingdon Island' 'Lajpat Nagar 2' 'Koramangala 6th Block'
 'Lingampally' 'Kamla Nagar' 'Sector 62' 'Kumaraswamy Layout'
 'Dahisar East' 'Saket' 'Mattancherry' 'Sector 29' 'Amberpet'
 'Telangana 500081' 'Habsiguda' 'Sector 72' 'CBD-Belapur' 'Kalbadevi'
 'Gachibowli-Kondapur Road' 'Yeshwantpur' 'Sainik Farms' 'Thane'
 'New Friends Colony' 'Bandra West' 'Yelahanka' 'Majiwada' 'Adambakkam'
 'S P Road' 'Vasai West' 'JP Nagar' 'Himayath Nagar' 'Selaiyur'
 'Kaggadasapura' 'Potheri' 'HSR Layout' 'Adyar' 'Thuraipakkam'
 'Kadavanthra' 'Pallavaram' '38/72 B1' 'HSR' 'Ameerpet' 'Near Sector 45'
 'Paradise Circle' 'Church Street' 'Sector 132' 'Byculla' 'Sector 50'
 'Paschim Vihar' 'Mogappair' 'Tambaram' 'Juhu' 'Panampilly Nagar' 'Dwarka'
 'Borivali West' 'Chittoor Road' 'Chromepet' 'Safdarjung' 'Gopalapuram'
 'Domlur' 'Besant Nagar' 'ECIL' 'Sector 14' 'Kopar Khairane'
 'Connaught Place' 'Santacruz West' 'St. Thomas Mount' 'Somajiguda'
 'Model Town 1' 'Defence Colony' 'Old Nagardas Road' 'Perambur'
 'Goregaon West' 'Prabhadevi' 'Panjagutta' 'Padmarao Nagar' 'Seawoods'
 'GST Road' 'Frazer Town' 'Sector 1' 'Shamshabad' 'Gaur City 1'
 'Telangana 500047' 'Sector 7' 'Mahabalipuram' 'Sholinganallur' 'S D Road'
 'Banashankari' 'Choolaimedu' 'West Patel Nagar' 'East Patel Nagar'
 'South Extension 2' 'Malkajgiri' 'Majestic' '16th cross' 'Airoli'
 'Semmancheri' 'Sector 12' 'Mahipalpur'
 'Near Cochin International Airport Nedumbassery' 'Rajarajeshwari Nagar'
 'Royapuram' 'Jose Junction' 'Ravipuram' 'Madipakkam' 'Lakdikapul'
 'S R Nagar' 'Kadavanthara' 'Koramangala 1st Block' 'Tarnaka'
 'Rajajinagar' 'Borivali East' 'Sushant Lok' 'Janakpuri' 'A S Rao Nagar'
 'Jangpura' 'Sector 4' 'SDA' 'Kanchipuram District' 'Nagarbhavi'
 'Manikonda' '7th main HAL 2nd stage' 'Paharganj' 'Dadar West'
 'ITPL Main Road' 'Raj Nagar' 'Koyambedu' 'Hauz Khas Village'
 'Mumbai Central' 'Khairatabad' 'Andheri Lokhandwala' 'Begumpet'
 'Sector 38' 'Palam' 'Perungudi' 'Panch Pakhadi' 'Dilsukhnagar' 'Nagole'
 'Veera Desai Area' 'Manpada' 'Chetpet' 'Kochi' 'Neredmet' 'Rohini'
 'Nallakunta' 'Naupada' 'Dwaraka Nagar Colony' 'Sector 63' 'Virar'
 'Vennala' '4th phase' 'Andheri East' 'Kothapet' 'Majnu ka Tila'
 'Nagawara' 'Kalkaji' 'Wallace garden 3rd street Nungambakkam' 'Shahdara'
 'Musheerabad' 'Mahakali' 'Ramapuram' 'Kacheripady' 'Nampally'
 'Netaji Subhash Place' 'Pandara Road' 'Chakala' 'Gandipet' 'Narayanguda'
 'George Town' 'Uppal' 'DLF Phase 3' 'Vile Parle West'
 'Utsav Chowk Kharghar' 'Marad' 'Khar' 'Sarojini Nagar' 'Muttukadu'
 'Jalahalli' 'East Coast Road (ECR)' 'Sector 19' 'Girgaum' 'Hauz Khas'
 'Tardeo' 'Crossing Republik' 'Marredpally' 'Hafeezpet' 'Neelangarai'
 'East Krishna Nagar' 'Near Charminar' 'Falaknuma' 'Karol Bagh'
 'Pali Hill' 'Nalasopara' 'Laxmi Nagar' 'Punjabi Bagh' 'Geeta Colony'
 'Lajpat Nagar 1' 'Sector 83' 'Kammanahalli' 'PG Road' 'Egatoor'
 'South City 2' 'Lavelle Road' 'Maruthi Nagar Main Road' 'CBD Belapur'
 'Nerul' 'New Panvel' 'Charminar' 'Jogeshwari' 'Tilak Nagar'
 'Hiranandani Gardens' 'Munnekolal' 'Badkal Lake' 'Mayur Vihar'
 'Opposite 10th Avenue Gaur City 2' 'HBR Layout' 'Avadi' 'Juhu Road'
 'Near PVR Plaza' 'Patparganj' 'Janpath' 'kakkanad' 'Sarita Vihar'
 'Adikmet' 'Moosapet' 'Thippasandra' 'Old Madras Road' 'Churchgate'
 'Khel Gaon Marg' 'Richmond Road' 'Seshadripuram' 'Mandi House' 'Vaishali'
 'Vivek Vihar' 'Puthiya Road' 'Sector 10'
 'Chandras Complex Near Flyover Bridge Annojiguda' 'Chowpatty Bridge'
 'Greater Kailash 1 (GK 1)' 'Charni Road' 'GK 1' 'Saroor Nagar'
 'Dadar Shivaji Park' 'R-5' 'Sakinaka' 'Oshiwara' 'Vikaspuri'
 'Cunningham Road' 'Opp. Kalpana Talkies' 'DLF Phase 2' 'Nanganallur'
 'Rajendra Place' 'Anand Vihar' 'Secunderabad Division' 'Sohna Road'
 'Masab Tank' 'Nacharam' 'Santacruz East' 'Taramani' 'Versova'
 'Green Valley' 'Anna Salai' 'Elamakkara' 'Govind Puram' 'Nizampet'
 'Mulund East' 'Block A Kalkaji' 'Brigade Road' 'Near Sector 72'
 'Kanakapura Road' 'Mumbai' 'Sector 32' 'Reclamation'
 'Koramangala 3rd Block' 'New BEL Road' 'Rajaji Nagar' 'DLF Phase 1'
 'Castle Mill' 'Kerala' 'Pillar 76' 'Near Andheri West Station'
 'Golf Course Extension Road' 'Manjeera Diamond Entrance Road'
 'BTM 2nd Stage' 'Valasaravakkam' 'Mayapuri Phase 2' 'M.G. Road'
 'Gaddanaram' 'Lajpat Nagar 4' 'Preet Vihar' 'Near Panch Rasta' 'SR Nagar'
 'Amar Colony' 'Ashok Vihar Phase 1' 'Kamothe' 'Shenoy Nagar'
 'East of Kailash' 'Anna nagar East' 'RDC Raj Nagar'
 'N Block Connaught Place' 'Nehru Place' 'Thopumpady' 'Turbe' 'Kovalam'
 'Sector 6' 'Ignou Main Road Sainik Farms' 'Mira Road East' 'Kacheguda'
 'Hill Road' 'Sector 110' 'Near Pallimukku' 'Mysore Road' 'Saligramam'
 'Sion' 'Koramangala 8th Block' 'Vikhroli East' 'Bandra East' 'Koti'
 'RT Nagar' 'Sector 37' 'Vandalur' 'Koramangala 2nd Block'
 'Greater Kailash 2 (GK2)' 'Prashant Vihar' 'Thevera' 'Chittaranjan Park'
 'Vazhakkala' 'Mahesh Nagar Radhika circle A S Rao Nagar'
 'Kanakapura Main Road' 'Sunder Nagar' 'Telangana 500082'
 'No 1 Sri Vari Nagar Fortune Select Grand Hotel - GST Road SP Koil'
 'Vijaya Nagar' 'Mallapur' 'Basheer Bagh' 'Gaur City 2' 'Kurla west'
 'lane besides to King’s Burger. Next to nellore mess' 'Janak Puri'
 'Alandur' 'Medchal Road' 'Telangana' 'Sector 30' 'Pallikaranai'
 'Mahalaxmi' 'Chandni Chowk' 'Aminijikarai' 'Seaport - Airport Road'
 'Langer Houz' 'Yapral' 'Ekkaduthangal' 'Bannergatta Road' '2nd Stage'
 'Sector 16' 'Bowenpally' 'Cuffe Parade' 'Bangalore' 'Pandav Nagar'
 'Near Kodihalli Masjid' 'Panchsheel Park' 'Poonamalle' 'Dombivli East'
 'Jasola' 'Off Kodigehalli Main Road' 'Patka Manzil Bhindi Bazar'
 'Pragati Maidan' 'Dombivali West' 'Arumbakkam' 'Jail Road' 'Makana Tower'
 'Teynampet' 'Model Town 2' 'Near Tripunithura' 'PVR Anupam Complex'
 'Vikhroli' 'Indranagar' 'Bhandup' '5th Block Jayanagar' 'Rajinder Nagar'
 'Greater Kailash (GK) 3' 'Near Pitampura' 'ITO' 'Kasarvadavli'
 'Basaveshwara Nagar' 'Geetanjali Enclave' 'Sahakara Nagar'
 'Off Brigade Road' 'Mayapuri Phase 1' 'Moosarambagh' 'Chunabhatti East'
 'Thaikkavu Aluva 6' 'Kuzhikattumoola' 'Barakhamba Road'
 'Vengalarao S R Nagar' 'T.Nagar' 'Rammurthy Nagar' 'Mukherjee Nagar'
 'B-28' 'Lado Sarai' 'Dr. Radhakrishnan Salai' 'Nandanam' 'Andheri'
 'New Ashok Nagar Main Matrket Mayur Vihar Phase 1' 'Gole Market' 'Alwal'
 'Alaknanda' 'Naraina' 'Sector 11' 'Near Andheri East Station' 'Sector 41'
 '17 Malaviya Avenue' 'Tirupati Nagar' 'Nedumbassery'
 'Opposite DLF City Court DLF Phase 2' 'Market Lane Borivali West'
 'Sikanderpur' 'Sheikpet' 'Kerala 682034' 'Courtyard by Marriott'
 '(ground floor of Sunrise Chambers)' 'Infantry Road'
 'Near Andheri Lokhandwala' 'Gujranwala Town' 'Satya Niketan'
 'Ramanthapur' 'Nariman Point' 'T.T.K Road'
 'Chennai Opposite the MRF Building' 'Jayanagar 4 th Block'
 'Okhla Phase 2' 'Vasundhara' 'Railway Station Road' 'Wilson Garden'
 'Virar West' 'Kumbalangi' 'Mogappair East' 'A Block Preet Vihar'
 'Suraram Main Road' 'Near Sector 132' 'Anna Nagar Chennai'
 'Ernakulam Circle' 'Virugambakkam' 'CV Raman Nagar' 'Shop No - VG 16'
 'Tamil Nadu 600006' 'Infopark - Smart City Short Road' 'KR Puram'
 'Khan Market' 'Mehrauli' 'Beside ESSR Petrol pump' 'Srinagar Colony Road'
 'Chinchpokli' 'Sector 28' 'Outer Circle Connaught Place' 'Adchini'
 'Near Saroor Nagar' 'Sector 26' 'Ulhasnagar' 'S Block DLF Phase 3'
 'Sowcarpet' 'Sector 8' 'New link Rd Oshiwara' 'CNK Salai' 'Green Park'
 'Sector 54' 'Hiranandani Estate' 'Opposite Stella Petrol Pump Vasai'
 'Thoraipakkam' 'Sector 25' 'Sector 15 Part 1' 'Sector 27'
 'Opposite Opera House' 'Sector 44' 'MRC Nagar' 'Shakarpur' 'Ghaziabad'
 'Chittethukara' 'Yousufguda' 'Cherlapalli' '33' 'Marve' 'Kotturpuram'
 'Bangalore Road' 'Near Mahindra World City' 'A yyavoo Colony' 'Kalwa'
 'Malleswaram' '7th Sector HSR' 'Jubilee hills' 'Sector 56'
 'Govindaswamy Nagar' 'Chullickal' 'International Airport' 'Ghansi Bazaar'
 'Kondapur X Roads Kondapur' 'Mumbra' 'Sector 21' 'West Jogeshwar'
 'Near Sector 31' 'Edappally Toll' 'LBS BKC Junction'
 'Opposite Private Bus Stand' 'Bhayandar East' '4 Bungalows'
 'Near Sector 34' 'Greater Kailash 2 (GK 2)' 'St. Marks Road' 'New Delhi'
 'Vepery' 'Kaushambi' 'Near Kundanahalli Signal' 'Adayar' 'Mahavir Nagar'
 'Near Sector 50' 'P.O Kakkanad' 'Venkatagiri Jubilee Hills'
 'J.N Road Anna Nagar West' 'Sector 53' 'Sikandarpur' 'Banjara hills'
 'sholinganallur' 'Erragadda' 'North Railway station' 'Chander Nagar'
 'Cherry County' 'Near Apollo H' '7th Phase' 'PWD Quarters' 'Poonithura'
 'Mazgaon' 'Near Karol Bagh' 'Tagore Garden' 'Near Passport Office'
 'Sector 45' 'Jogeshwari West' 'North Kalamassery' 'Thrikkakara Circle'
 'Lajpat Nagar 3' 'Guduvanchery' 'Old Bowenpally' 'Thiruvallur'
 'Aurangzeb Road' 'Nehru Nagar' 'phase 3' 'Kacharakkanahalli'
 'Beside Aditya Hospital Dwarakanagar colony H.S Darga Banjara Hills'
 'Mumbai CST Area' 'Chawri Bazar' 'Sector 23' 'Chandavarkar Road'
 'Near Vikaspuri' 'BN Reddy Nagar' 'Kadavanthra Part 1'
 '20/718 (Old No 12/275) Railway Station Road Aluva' '5th Phase'
 'Shahpur Jat' 'Thane west' 'Bengaluru' 'Off Carter Road' 'SRM Back Gate'
 'Sector 86' 'Perry Cross Road']
----------
RATING ['4.3' '4.2' '3.8' '3.6' '3.7' '4.0' '3.4' '3.2' '4.1' '3.0' '3.5' '4.5'
 '3.9' '3.3' '2.9' '3.1' '2.5' '2.8' '4.6' '4.4' '2.7' '4.8' '2.6' '4.9'
 '2.1' '4.7' '2.3' '2.4' '2.2']
----------
VOTES [ 564   61  350 ... 1697  749 1239]
----------

In [233]:
ds_train.duplicated().sum()

21

In [234]:
ds_test.duplicated().sum()

1

In [235]:
ds_train=ds_train.drop_duplicates()
ds_test=ds_test.drop_duplicates()

In [236]:
ds_train.dtypes

TITLE            object
RESTAURANT_ID     int64
CUISINES          int64
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES             int32
COST              int64
dtype: object

In [237]:
print(ds_train.dtypes)
print(ds_test.dtypes)

TITLE            object
RESTAURANT_ID     int64
CUISINES          int64
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES             int32
COST              int64
dtype: object
TITLE            object
RESTAURANT_ID     int64
CUISINES          int64
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES             int32
dtype: object

In [238]:
ds_train['RATING']=ds_train['RATING'].str.extract('(\d+)').astype(float)
ds_test['RATING']=ds_test['RATING'].str.extract('(\d+)').astype(float)

In [239]:
print(ds_train.dtypes)
print(ds_test.dtypes)

TITLE             object
RESTAURANT_ID      int64
CUISINES           int64
TIME              object
CITY              object
LOCALITY          object
RATING           float64
VOTES              int32
COST               int64
dtype: object
TITLE             object
RESTAURANT_ID      int64
CUISINES           int64
TIME              object
CITY              object
LOCALITY          object
RATING           float64
VOTES              int32
dtype: object

In [240]:
ds_train.drop('TIME',axis=1,inplace=True)
ds_test.drop('TIME',axis=1,inplace=True)

In [241]:
title_list=[]
for row in ds_train['TITLE']:
    title_list.append(list(row.split(',')))
ds_train['TITLE']=title_list
title_list=[]
for row in ds_test['TITLE']:
    title_list.append(list(row.split(',')))
ds_test['TITLE']=title_list

In [242]:
df_title=ds_train['TITLE'].apply(lambda x: pd.Series(1, x))

In [243]:
df_title.head()

,CASUAL DINING,BAR,QUICK BITES,DESSERT PARLOR,CAFÉ,MICROBREWERY,BEVERAGE SHOP,IRANI CAFE,BAKERY,None,...,FOOD COURT,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,FOOD TRUCK,COCKTAIL BAR,PAAN SHOP
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
ds_train.head()

,TITLE,RESTAURANT_ID,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,[CASUAL DINING],9438,3,Thane,Dombivali East,3.0,49,1200
1,"[CASUAL DINING, BAR]",13198,3,Chennai,Ramapuram,4.0,30,1500
2,[CASUAL DINING],10915,4,Chennai,Saligramam,3.0,221,800
3,[QUICK BITES],6346,2,Mumbai,Bandra West,4.0,24,800
4,[DESSERT PARLOR],15387,1,Mumbai,Lower Parel,3.0,165,300

In [245]:
ds_test.head()

,TITLE,RESTAURANT_ID,CUISINES,CITY,LOCALITY,RATING,VOTES
0,[CASUAL DINING],4085,4,Noida,Sector 18,4.0,564
1,[QUICK BITES],12680,4,Mumbai,Grant Road,4.0,61
2,[CASUAL DINING],1411,4,Mumbai,Marine Lines,3.0,350
3,[None],204,1,Faridabad,NIT,3.0,1445
4,[QUICK BITES],13453,2,Kochi,Kaloor,3.0,23

In [246]:
ds_train['CITY'].unique()

array(['Thane', 'Chennai', 'Mumbai', 'Bangalore', 'Gurgaon', 'Hyderabad',
       'Kochi', 'Thane West', 'Andheri Lokhandwala', 'New Delhi',
       'Andheri West', 'Malad East', '682036', 'Bangalor', 'Navi Mumbai',
       'Bandra West', 'Delhi', 'Noida', 'Secunderabad', 'India',
       'Madhuranagar', 'Chennai Teynampet', 'Faridabad', 'Chembur.',
       'Maharashtra', 'opp gurudwara Shakurpur',
       'Telagana Land Line:040-48507016', 'Ghaziabad', 'Karnataka',
       'Kerala', 'Bengalore', 'Near Reliance Fresh', 'Kilpauk',
       'Bengaluru', 'Kothaguda', 'Goregaon West', 'Banglore',
       'Tamil Nadu', 'Kakkanad', 'Outer Ring Road', 'Mulund East',
       'Secunderabad main road near signal NMREC COLLEGE', 'Telangana',
       'Ponnuruni Kochi', 'Gachibowli', 'Semmancheri',
       '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034',
       'Mumbai Mahim', 'Powai (Next to Powai Plaza)', 'Dombivali East',
       'Kandivali', 'Dewan Rama Road', 'Gurugram', 'Sector 51 Noida',
       'Besant Nagar', 'Arumbakkam chennai-600106.',
       'Adjacent To Commercial Street', 'Delhi NCR', 'Dwarka',
       'Kalyan West', 'Avadi', 'Kondapur', 'Mehdipatnam', 'Gandipet',
       'Velachery', 'Pallavaram', 'Vijaya Nagar', 'BTM Layout',
       'Chennai 600034.',
       'Metro Pillar No 21. Mettuguda main road near railway degree college.',
       'Chennai - 600040', 'JP Nagar Bangalore', 'Madhapur', 'Sarjapur',
       'Whitefield Bangalore', 'Kochi Chullickal', 'Kochi-683101',
       'Bangalore - 560076', 'Rohini', 'Hyderabad Behind Vacs Pastries',
       'Hyderabad neerus emporium.', 'Navi Mumbai.', 'Karol Bagh',
       'Perungudi', 'Thykoodam', 'Greater Noida', 'Bangalore.',
       'Khairatabad', 'chullickal', 'Grant Road West', 'Hitech City',
       'West Maredpally', 'Mumbai - 400007', 'Chennai Padur',
       'Chander Nagar New Delhi', 'Nedumbassery', 'MG Road',
       'Naya Nagar Mira Road', 'Pitampura', 'Lower Parel', 'HBR Layout',
       'Telangana 500003', 'Rajiv gandhi Nagar', 'New Delhi.',
       'Medavakkam', 'Sathya Nagar', 'p.o Kochi',
       'Behind Ramalayam Temple', 'Palarivattom', 'Brigade Road',
       'Mumbai.', 'Mumbai Andheri East', 'Virar West', 'B-1 Stage',
       'Chennai Kovalam', 'Hyderabad.', 'Aluva', 'Telangana 500034',
       'IOB Bank Kamala Nagar', 'HSR Layout', 'DLF Galleria',
       'Nallathambi Main Road', 'Chennai opp: Vasanth & co', 'Citypark',
       'Karnataka 560103', 'Bhayandar', 'Thammenahalli Village',
       'SG Palya', 'Attapur.', 'Near Shangrilla Bus Stop', 'Khar (west)',
       'Road 3', 'Kukatpally', 'Telangana 500032', 'Dilsukhnagar',
       'Mogappair. Chennai', 'Kaloor', 'Near Munrshwara Temple',
       'Off Brigade Road', 'khar west', 'Potheri', 'Chennai Perungudi',
       'Chennai Thuraipakkam', 'OMR Karapakkam', 'Hyderabad-500032',
       'Ernakulam', 'Mumbai Dombivali East', 'Chennai Thousand Lights',
       'Mahim', 'Lingampally', 'Powai', 'New Delhi-110024',
       'Chennai- 600107', 'Vasai West.', 'Thane (W)',
       'Near Santosh Banjara Hyderabad',
       'Banaswadi (Next to Indian Bank) Bangalore', 'BTM Bangalore',
       'Greater Kailash 2 New Delhi', 'Secunderabad ECIL',
       'Bangalore Koramangala 7th Block', 'bangalore : 560085',
       'navi mumbai', 'Gachibowli Hyderabad',
       'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -',
       'ECR NEELANKARAI Chennai 600115', 'ward X11', 'kochi',
       'Mira raod east', 'Chennai.', 'Pokhran Road 2', 'Uttar Pradesh',
       'Karnataka 560102', 'Mumbai - 400013', 'Naharpar', 'Hosur Road',
       'Near Bharat Petroleum.', 'Chennai (Bang Opposite Indian Bank)',
       'Sriram nagar', 'Vyttila', 'Banjara Hills',
       'MALAPALLIPURAM P .O THRISSUR', 'Andheri west Mumbai',
       'Karnataka 560043', 'Panampilly Nagar', 'hyderabad',
       'Borivali East.', 'ECIL', 'Jubilee Hills',
       'Amrit kaur market opposite new delhi railway station paharganj',
       'Chennai Opposite 5C Bus stand', 'Telengana', 'Kochi Ravipuram',
       'Rajanpada', 'Mahabalipuram', 'Secunderabad. WE HAVE NO BRANCHES.',
       'Telangana 500081', 'Gurgoan', 'Elamakkara', 'Sector 1',
       'Bandra W', 'Kolathur', 'Chennai Mahabalipuram', '3rd Street',
       'Mumbai Chakala', 'Borivali West', 'Rodeo Drive Sector 49',
       'Delhi 110085', 'Sector 51', 'Champapet', 'Andavar Nagar',
       'Bangalore - 560103', 'Edappally', 'opp mukteshwar ashram powai',
       'Nungambakkam', 'BK Guda', 'Jogeshwari (w) Mumbai', 'Kukatapally',
       'Near Sector 110 Noida', 'Navallur', 'Beside Excellency Gardens',
       'Mumbai - 80', 'Begumpet', 'Maharaja Hotel Beside Gardania Bar',
       'Ashok Vihar Phase 1', 'Kochi-18', 'Narayanguda', 'Thevera',
       'Chennai-40', 'Palm Beach Road', 'East Coast Road (ECR)',
       'Ramapuram', 'Chennai Chrompet', 'Nandanam', 'Saket',
       'MG Road Ernakulam', 'Andheri Lokhandwala.', 'Indiranagar',
       'Thiruvanmiyur', 'Ambattur', 'Banglaore',
       'Chennai - 34 Landmark - Near Loyola College', 'Anna Nagar West',
       'Old Railway Road', 'East Mumbai', 'Kanakapura Road Banglore',
       'Kochi Kakkanad', 'Kalyan', 'Near Ramlila Ground',
       'Serilingampally', 'Himayath Nagar', 'Nallala Street',
       'Anna Salai', 'Old Delhi', 'Wagle Estate', '1st Stage', 'Kochi-16',
       'First Street', 'Chenn ai', '6 & 7 - 4/64 Subhash Nagar',
       '1st Tavarekere', 'Perambur', 'Block F', 'Sector 7 Dwarka',
       'Opposite Barathi Gas Company', 'Vadapalani', 'Kondapur.',
       'Badlapur West.', 'Kalamassery', 'Palavakkam', 'TCS Synergy park',
       'Kochi Palarivattom', 'NEW BEL ROAD 560054',
       'Veliaveetil house Vivekananda Nagar Elamakkara', 'Sholinganallur',
       'Maharashtra 400102', 'Lower Parel West', 'Tripunithura',
       'Mogappair', 'Telangana 500070', 'JP Nagar', 'Navi-Mumbai',
       'Ashok Nagar', 'Marathahalli', 'Haridwar Apartments',
       'Kerala 682001 India', 'Karnataka 560037', 'Kerala 683585',
       'Chennai. (Near Hotel Matshya)', 'Indirapuram', 'West Mumbai',
       'Begumpet Hyderabad', 'Manikonda',
       'Bangalore land mark above mahaveer hard ware', 'Kerala 682304',
       'GST Road', 'Fort Kochi', 'Lahari Apartments', 'Ramanthapur',
       'Mulund west', 'Gurgaon Haryana India',
       'New Delhi..Near by SBI bank', 'Kochi Aluva 102',
       'Hyderabad Manikonda',
       'Mumbai This is a Delivery & Take-away Restaurant only.',
       '10th avenue', 'Uppal', 'New Delhi 110075', 'Nizampet', 'Ulsoo',
       'Bangalore 560076', 'PVR plaza cinema building Connaught Place',
       'Gurgaon Haryana', 'Chromepet', 'Kerala 682024', 'Janakpuri',
       'Secunderabad.', 'chennai', 'B.B.M.P East (Karnataka) - 560049',
       'Tambaram', 'Malleshwaram Bangalore', 'Vadapalani.',
       'Dist. Center New Delhi', 'Bangalore Road', 'aluva circle',
       'Kochi.', 'Thane Mumbai', 'Vasai west', 'Mig Housing Society',
       'Haryana', 'Borivali West.', 'Golf Course Road', 'Khar Mumbai',
       'Near Jyothinivas College', 'Anna Nagar East', 'Masab Tank'],
      dtype=object)

In [247]:
ds_train['Location']=ds_train.CITY+' '+ds_train.LOCALITY
ds_test['Location']=ds_test.CITY+' '+ds_test.LOCALITY

In [248]:
ds_train.drop(['CITY','LOCALITY'],axis=1,inplace=True)
ds_test.drop(['CITY','LOCALITY'],axis=1,inplace=True)

In [249]:
ds_train.head()

,TITLE,RESTAURANT_ID,CUISINES,RATING,VOTES,COST,Location
0,[CASUAL DINING],9438,3,3.0,49,1200,Thane Dombivali East
1,"[CASUAL DINING, BAR]",13198,3,4.0,30,1500,Chennai Ramapuram
2,[CASUAL DINING],10915,4,3.0,221,800,Chennai Saligramam
3,[QUICK BITES],6346,2,4.0,24,800,Mumbai Bandra West
4,[DESSERT PARLOR],15387,1,3.0,165,300,Mumbai Lower Parel

In [250]:
ds_train

,TITLE,RESTAURANT_ID,CUISINES,RATING,VOTES,COST,Location
0,[CASUAL DINING],9438,3,3.0,49,1200,Thane Dombivali East
1,"[CASUAL DINING, BAR]",13198,3,4.0,30,1500,Chennai Ramapuram
2,[CASUAL DINING],10915,4,3.0,221,800,Chennai Saligramam
3,[QUICK BITES],6346,2,4.0,24,800,Mumbai Bandra West
4,[DESSERT PARLOR],15387,1,3.0,165,300,Mumbai Lower Parel
...,...,...,...,...,...,...,...
12685,[QUICK BITES],13228,3,3.0,546,500,Hyderabad Gachibowli
12686,"[CASUAL DINING, BAR]",9686,2,4.0,1214,1800,Mumbai Bandra Kurla Complex
12687,[LOUNGE],11133,4,4.0,608,1300,Navi Mumbai Vashi
12688,[CASUAL DINING],6134,4,3.0,32,400,Chennai Maduravoyal
12689,[CASUAL DINING],6430,2,3.0,677,600,Hyderabad Vanasthalipuram